.nav a {
  color: #323030;
  font-weight: bold;
  padding: 10px 10px;
  text-transform: uppercase; }
.nav li {
  display: inline; }

.header {
  background-color: #fff;
  top: 0;
  z-index: 999;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px; }
  .header a:hover {
    text-decoration: none;
    color: #5695ca; }

.footer {
  color: #fff;
  width: 100%;
  background-color: #5695ca;
  height: 150px;
  bottom: 0;
  border-top: solid white 1px;
  padding-top: 50px; }

.jumbotron {
  color: #fff;
  background-color: #5695ca;
  height: 600px; }
  .jumbotron .container {
    position: relative;
    top: 440px; }
  .jumbotron .navbar {
    margin-top: -48px; }

.pagenav {
  background-color: #858585;
  background-color: rgba(85, 85, 85, 0.6);
  z-index: 999;
  top: 60px;
  width: 100%;
  display: none;
  padding-top: 10px; }
  .pagenav a {
    color: #fff;
    text-transform: none;
    padding: 11px 10px; }
    .pagenav a:hover {
      text-decoration: none;
      background-color: #858585;
      background-color: rgba(85, 85, 85, 0.3); }

.employer-icon, .project-icon {
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 10px; }

.stack-icon, .colour-icon {
  height: 50px; }

.colour-icon {
  filter: url(../filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */ }
  .colour-icon:hover {
    filter: none;
    -webkit-filter: grayscale(0); }

.stackicon-row {
  padding: 20px; }

.logo {
  width: 300px; }

.header, .pagenav, .footer {
  position: fixed;
  left: 0; }

.jumbo {
  height: 500px; }

.page {
  overflow: scroll;
  margin-top: 40px; }

.section {
  text-align: center; }
