.footer {
  color: #fff;
  width: 100%;
  background-color: #5695ca;
  height: 150px;
  bottom: 0;
  border-top: solid white 1px;
  padding-top: 50px;
}

.header {
  background-color: #fff;
  top: 0;
  z-index: 999;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}

.header a:hover {
  text-decoration: none;
  color: #5695ca;
}

.header, .projnav, .footer {
  position: fixed;
  left: 0;
}

.icon {
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.jumbo {
  height: 500px;
}

.jumbotron {
  background-color: #5695ca;
  height: 600px;
}

.jumbotron .container {
  position: relative;
  top: 440px;
}

.jumbotron {
  color: #fff;
}

.jumbotron .navbar {
  margin-top: -48px;
}

.nav a {
  color: #323030;
  font-weight: bold;
  padding: 10px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.page {
  overflow: scroll;
  margin-top: 40px;
}

.projnav {
  background-color: #858585;
  background-color: rgba(85, 85, 85, 0.6);
  z-index: 999;
  top: 60px;
  width: 100%;
  display: none;
  padding-top: 10px;
}

.projnav a {
  color: #fff;
  text-transform: none;
  padding: 11px 10px;
}

.projnav a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #858585;
  background-color: rgba(85, 85, 85, 0.3);
}

.projnav a:focus {
  background-color: red;
}

.section {
  text-align: center;
}

.stackicon {
  height: 100px;
}

.stackicon-row {
  padding: 20px;
}
