@mixin filter-grey() {
  filter: url(../filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

@mixin unfilter() {
  filter: none;
  -webkit-filter: grayscale(0);
}

.icon {
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.stack-icon {
  height: 50px;
}

.colour-icon {
  @extend .stack-icon;
  @include filter-grey();

  &:hover {
    @include unfilter();
  }
}

.stackicon-row {
  padding: 20px;
}
