.pagenav {
  background-color: #858585;
  background-color: rgba(85, 85, 85, 0.6);
  z-index: 999;
  top: 60px;
  width: 100%;
  display: none;
  padding-top: 10px;

  a {
    color: #fff;
    text-transform: none;
    padding: 11px 10px;

    &:hover {
      text-decoration: none;
      background-color: #858585;
      background-color: rgba(85, 85, 85, 0.3);
    }
  }
}
